@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

body {
    background: DarkCyan;
    color: white;
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.header {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: LightSeaGreen;
    height: 120px;
}

.header .back {
    position: absolute;
    padding: 10px;
    top: 60px;
    left: 30px;
    background: peachpuff;
    border-radius: 5px;
    font-size: 0.8em;
}

.header .back a {
    color: LightSeaGreen;
}

.subtitle {
    color: PeachPuff;
}

.main {
    font-size: 1.5em;
    margin-top: 100px;
    text-align: center;
}

.item {
    display: inline-block;
    padding: 40px 20px;
    border: 3px solid PeachPuff;
    border-radius: 5px;
    -webkit-transition: background-color 0.5s ease-out, color 0.5s ease-out;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

a:hover .item {
    background: peachpuff;
    color: DarkCyan;
}

.item-title {
    display: inline;
}

/*** color palette ***/
.color-palette {
    position: absolute;
    top: 20px;
    right: 20px;
}
.color-palette li {
    height: 35px;
    width: 35px;
    border: 2px solid white;
    border-bottom: 0px;
}
.color-palette li:last-child {
    border-bottom: 2px solid white;
}
.color-DarkCyan {
    background-color: DarkCyan;
}
.color-LightSeaGreen {
    background-color: LightSeaGreen;
}
.color-White {
    background-color: White;
}
.color-PeachPuff {
    background-color: PeachPuff;
}